# Build files
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.log
*.zip
*.rar

# Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.ide
*.suo
*.cache
*.log
*.vspscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.tmp_proj.user
*.asm
*.asmx
*.ashx
*.axd
*.vsdisco
*.browser
*.pubxml
*.pubxml.user
*.cache
*.dbmdl
*.jfm
*.sgen
*.mdf
*.ldf
node_modules/
bower_components/
*.lock
yarn.lock

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
